@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

a {
    color: white;
}

a:hover {
    color: orange;
    transition: .5s;
}

h1 {
	text-align: center;
}

/* Menu */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0A3D7E;
    height: 15vh;
}

.nav_logo {
	font-size: 25px;
	color: white;
}

.nav_list {
    list-style: none;
    display: flex;
}

.nav_list li {
    letter-spacing: 3px;
    margin-left: 40px;
}

.nav_list li .products {
	position: absolute;
	top:55px;
	right: 465px;
	display: none;
}

.nav_list li:hover .products, .nav_list li.over .products {
	display: block;
}

.nav_list li .products li {
	display: block;
}

.nav_list li .clients {
	position: absolute;
	top:55px;
	right: 315px;
	display: none;
}

.nav_list li:hover .clients, .nav_list li.over .clients {
	display: block;
}

.nav_list li .clients li {
	display: block;
}

/* Menu */

main {
	height: 85vh;
	background-color: #E9F1F4;
	width: 100%;
}

main h1 {
	position: relative;
	padding-top: 50px;
}

form {
	position: relative;
	margin-top: 40px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px 2px purple;
	margin-left: 25%;
	margin-right: 25%;
	height: 42.5vh;
	padding: 10px;
}

form div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 38vh;
}

form div input {
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
}

form div button {
	background-color: black;
	color: white;
	height: 30px;
	margin-left: 150px;
	margin-right: 150px;
	border-radius: 10px;
}