<!DOCTYPE html>
	
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Product Form</title>
		<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../../css/updateProduct.css">
	</head>
	
	<body>
	
	<header>
	
		<nav class="nav">
		
		    <div class="nav_logo"><i class='bx bxl-spring-boot' ></i></div>
		
		    <ul class="nav_list">
		
		        <li><a href="/products"><i class='bx bxs-home-smile'>PRODUCTS</i></a>
		        	<ul class='products'>
		        		<li><a href="/products/formProduct"><i class='bx bxs-user'>ADD PRODUCT</i></a></li>
		        	</ul>
		        </li>
		        
		        
		        <li><a href="/clients"><i class='bx bxs-user'>CLIENTS</i></a>
		        	<ul class="clients">
		        		<li><a href="/clients/formClient"><i class='bx bxs-user'>ADD CLIENT</i></a></li>
		        	</ul>
		        </li>
		        
		        <li><a href="/orders"><i class='bx bxs-cart-add'>REPORT</i></a></li>
		
		    </ul>
		
		</nav>

	</header>
	
	<main>
	
		<h1>Atualizar Produto</h1>
		
		<h1 th:each="error : ${Error}"><Span th:text="${error}"></Span></h1>
		
		<form th:each="product : ${product}" th:action="@{/products/updateProduct(product_id=${4})}" th:object="${product}" method="post">
			<div>
				<input type="hidden" name="id" th:value="${product.id}"/>
				Name: <input type="text" name="name" th:value="${product.name}" required/>
				Price: <input type="number" name="price" th:value="${product.price}" required/>
				<button type="submit">Salvar</button>			
			</div>
		</form>
		
	</main>
	</body>
</html>