<!DOCTYPE html>
	
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Client Form</title>
		<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../../css/updateClient.css">
	</head>
	
	<body>
	
	<header class="menu">

		<nav class="nav">
		
		    <div class="nav_logo"><i class='bx bxl-spring-boot' ></i></div>
		
		    <ul class="nav_list">
		
		        <li><a href="/products"><i class='bx bxs-home-smile'>PRODUCTS</i></a>
		        	<ul class='products'>
		        		<li><a href="/products/formProduct"><i class='bx bxs-user'>ADD PRODUCT</i></a></li>
		        	</ul>
		        </li>
		        
		        
		        <li><a href="/clients"><i class='bx bxs-user'>CLIENTS</i></a>
		        	<ul class="clients">
		        		<li><a href="/clients/formClient"><i class='bx bxs-user'>ADD CLIENT</i></a></li>
		        	</ul>
		        </li>
		        
		        <li><a href="/orders"><i class='bx bxs-cart-add'>REPORT</i></a></li>
		
		    </ul>
		
		</nav>

	</header>

	<main>
	
		<h1>Atualizar Cliente</h1>
		
		<h1 th:each="error : ${Error}"><Span th:text="${error}"></Span></h1>
		
		<form th:each="client : ${client}" th:action="@{/clients/updateClient(client_user=${4})}" th:object="${client}" method="post">
			<div>
				<input type="hidden" name="id" th:value="${client.id}"/>
				Name: <input type="text" name="name" th:value="${client.name}" required/>
				Email: <input type="email" name="email" th:value="${client.email}" required/>
				Password: <input type="number" name="password" th:value="${client.password}" required/>
				<button type="submit">Salvar</button>			
			</div>
		</form>
		
	</main>
	</body>
</html>